//Colors
$color-primary: #FFFFFF;
$color-secondry: #000000;

$transparent-primary: #FFFFFF00;

$gradient_primary: linear-gradient(to right, $color-primary, $color-primary, $transparent-primary);

//Rules
.full-height {
    min-height: 100vh;
}

#portfolioContainer {
    display: none;
}

body {
    background-image: linear-gradient(#FFFFFF, #404040);
}

.description {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px;
    border-radius: 5px;
}

.card-body {
    padding: 5px;
}

ul {
    list-style-type: none;
}

.glass {
    border: none;
    border-left: 2px solid $color-secondry;
    background-color: transparent;
    background-image: $gradient_primary;
}

//Animations
.slide-in {
    animation: slide-up 0.75s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.appear-in {
    animation: appear 1s ease;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.disappear-out {
    animation: disappear 1s ease;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}