.full-height {
  min-height: 100vh; }

#portfolioContainer {
  display: none; }

body {
  background-image: url("../img/clouds.png");
  background-color: gray; }

.name-label-bg {
  background-color: #ffffffa9;
  padding: 5px;
  border-radius: 10px; }

.name-card-bg {
  position: fixed;
  z-index: -1;
  left: 0;
  bottom: 0; }

.card-body {
  padding: 5px; }

ul {
  list-style-type: none; }

.glass {
  border: none;
  border-left: 2px solid #000000;
  background-color: transparent;
  background-image: linear-gradient(to right, #FFFFFF, #FFFFFF, #ffffffa9, #FFFFFF00); }

.slide-in {
  animation: slide-up 0.75s ease; }

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.appear-in {
  animation: appear 1s ease; }

@keyframes appear {
  0% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.disappear-out {
  animation: disappear 1s ease; }

@keyframes disappear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
