.full-height {
  height: 100vh; }

#portfolioContainer {
  display: none; }

body {
  background-image: linear-gradient(#FFFFFF, #404040); }

.slide-in {
  animation: slide-up 0.75s ease; }

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.appear-in {
  animation: appear 1s ease; }

@keyframes appear {
  0% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.disappear-out {
  animation: disappear 1s ease; }

@keyframes disappear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
